* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.review {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: grid;
  place-items: center;
  padding: 7rem;
  background-color: aliceblue;
  width: 100%;
  height: auto;
}
.container {
  width: 400px;
  height: 450px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #3195f3;
}
.title__container {
  margin-bottom: 50px;
  border-bottom: 4px solid #3195f3 ;
}
.image__container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.image {
  position: absolute;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  left: calc(50% - 50px);
  box-shadow: 6px -4px #3195f3;
}
.icon {
  position: absolute;
  width: 35px;
  height: 35px;
  z-index: 2;
  left: calc(50% - 60px);
}
.text__container {
  width: 80%;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.author {
  margin-top: 70px;
}
.job{
  color: #3195f3;
  font-size: small;
  font-style: italic;
  margin-bottom: 10px;
}
.author__review {
  text-align: center;
}
.button__container {
  margin: 0 auto;
  text-align: center;
  padding: 4px;
}
.previous {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-style: none;
  background-color: white;
}
.next {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-style: none;
  background-color: white;
}
.random {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 125px;
  height: 25px;
  border-radius: 8px;
  background-color: white;
  border: 2px solid #3195f3;
}
.random:hover {
  color: white;
  background-color: #3195f3;
  border: 2px solid white;
}